<section class="projects">
    <h3 class="project-title">&lt;Proyectos <span>visibleProjects=<span>&#123;7&#125;</span></span> /&gt;</h3>
    <section class="card-area">
        <!-- Card: Project1 -->
        <div class="card">
            <img class="card-image" src="assets/images/projects/expense-record-app.webp">
            <div class="card-front__container">
                <div class="card-front__description">
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/react-icon.svg"> React
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/js-icon.svg"> JavaScript
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/tailwind-icon.svg"> TailwindCSS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/css-icon.svg"> CSS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/html5-icon.svg"> HTML
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/pwa-icon.svg"> PWA
                    </p>
                </div>
            </div>
            <div class="card-front__wrapper">
                <div class="card-front__header">
                    <div class="card-front__tp-container">
                        <h2 class="card-front__heading">
                            Expense Record App
                        </h2>
                        <img src="assets/images/projects/icon-expense-record-app.svg" />
                    </div>
                    <h3 class="inside-page__title">
                        Gestor de Presupuesto y Gastos<a href="proyectos/gestor-de-presupuesto-y-gastos"><span class="chevron-down"> Más info
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m8 7 4 4 4-4m-8 6 4 4 4-4" />
                            </svg>
                        </span></a>
                    </h3>
                </div>
                <div class="card-front">
                    <div class="inside-page__container">
                        <div class="inside-page__text">
                            <p>
                                Herramienta diseñada para ayudar a en el control de gastos y gestionar su presupuesto
                                diario.
                            </p>
                            <p>Funciona offline y puede instalarse en dispositivos móviles y PCs.</p>
                        </div>
                    </div>
                    <div class="inside-page__text-footer">
                        <div>
                            <span>Características:</span> Flowbite React, React
                            Context, Custom Hooks, Local Storage, PWA, Vite
                        </div>
                        <div class="inside-page__btn-container">
                            <a href="https://expense-record-app.vercel.app/" class="inside-page__btn">🔗 Ver
                                Demo</a>
                            <a href="https://github.com/nattdev/expense-record-app" class="inside-page__btn"><img
                                    src="assets/images/technologies/github-icon.svg" />Ver Código</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card: Project2 -->
        <div class="card">
            <img class="card-image" src="assets/images/projects/crud-php-vue.webp">
            <div class="card-front__container">
                <div class="card-front__description">
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/vue-icon.svg"> Vue.js
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/js-icon.svg"> JavaScript
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/tailwind-icon.svg"> TailwindCSS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/css-icon.svg"> CSS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/php-icon.svg"> PHP
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/postgres-icon.svg"> PostgreSQL
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/html5-icon.svg"> HTML
                    </p>
                </div>
            </div>
            <div class="card-front__wrapper">
                <div class="card-front__header">
                    <div class="card-front__tp-container">
                        <h2 class="card-front__heading">
                            CRUD PHP Vue.js
                        </h2>
                        <img src="assets/images/projects/icon-crud-php-vue.svg" />
                    </div>
                    <h3 class="inside-page__title">
                        Plataforma de Gestión de Usuarios<a href="proyectos/plataforma-gestion-de-usuarios"><span class="chevron-down"> Más info
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m8 7 4 4 4-4m-8 6 4 4 4-4" />
                            </svg>
                        </span></a>
                    </h3>
                </div>
                <div class="card-front">
                    <div class="inside-page__container">
                        <div class="inside-page__text">
                            <p>
                                Una plataforma para gestionar el registro, edición y administración de usuarios.</p>
                            <p>Ofrece un buscador y la visualización de los usuarios registrados.</p>
                        </div>
                    </div>
                    <div class="inside-page__text-footer">
                        <div>
                            <span>Características:</span> Vue Router, PHPDotenv, CORS
                            policy, Vite, API Restful, Vercel Serverless Functions.
                        </div>
                        <div class="inside-page__btn-container">
                            <a href="https://crud-php-vue.vercel.app/" class="inside-page__btn">🔗 Ver Demo</a>
                            <a href="https://github.com/nattdev/crud-php-vue" class="inside-page__btn"><img
                                    src="assets/images/technologies/github-icon.svg" />Ver Código</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card: Project3 -->
        <div class="card">
            <img class="card-image" src="assets/images/projects/goal-card-organizer.webp">
            <div class="card-front__container">
                <div class="card-front__description">
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/react-icon.svg"> React
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/ts-icon.svg"> TypeScript
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/tailwind-icon.svg"> TailwindCSS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/css-icon.svg"> CSS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/html5-icon.svg"> HTML
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/pwa-icon.svg"> PWA
                    </p>
                </div>
            </div>
            <div class="card-front__wrapper">
                <div class="card-front__header">
                    <div class="card-front__tp-container">
                        <h2 class="card-front__heading">
                            Goal Card Organizer
                        </h2>
                        <img src="assets/images/projects/icon-goal-card-organizer.svg" />
                    </div>
                    <h3 class="inside-page__title">
                        Organizador de Objetivos<a href="proyectos/organizador-de-objetivos"><span class="chevron-down"> Más info
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m8 7 4 4 4-4m-8 6 4 4 4-4" />
                            </svg>
                        </span></a>
                    </h3>
                </div>
                <div class="card-front">
                    <div class="inside-page__container">
                        <div class="inside-page__text">
                            <p>Una aplicación web que permite ordenar objetivos de forma estructurada, define una meta
                                principal
                                y desglosa en tareas más detalladas.</p>
                            <p>Funciona offline y puede instalarse en dispositivos móviles y PCs.</p>
                        </div>
                    </div>
                    <div class="inside-page__text-footer">
                        <div>
                            <span>Características:</span> React Context, Custom
                            Hooks,
                            Local Storage, PWA
                        </div>
                        <div class="inside-page__btn-container">
                            <a href="https://goal-card-organizer.vercel.app" class="inside-page__btn">🔗 Ver Demo</a>
                            <a href="https://github.com/nattdev/goal-card-organizer" class="inside-page__btn"><img
                                    src="assets/images/technologies/github-icon.svg" />Ver Código</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card: Project4 -->
        <div class="card">
            <img class="card-image" src="assets/images/projects/fixed-deposit-calculator.webp">
            <div class="card-front__container">
                <div class="card-front__description">
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/react-icon.svg"> React
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/js-icon.svg"> JavaScript
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/tailwind-icon.svg"> TailwindCSS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/css-icon.svg"> CSS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/html5-icon.svg"> HTML
                    </p>
                </div>
            </div>
            <div class="card-front__wrapper">
                <div class="card-front__header">
                    <div class="card-front__tp-container">
                        <h2 class="card-front__heading">
                            Fixed Deposit Calculator
                        </h2>
                        <img src="assets/images/projects/icon-fixed-deposit-calculator.svg" />
                    </div>
                    <h3 class="inside-page__title">
                        Calculadora de Depósito a Plazo Fijo<a href="proyectos/calculadora-deposito-a-plazo-fijo"><span class="chevron-down"> Más info
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m8 7 4 4 4-4m-8 6 4 4 4-4" />
                            </svg>
                        </span></a>
                    </h3>
                </div>
                <div class="card-front">
                    <div class="inside-page__container">
                        <div class="inside-page__text">
                            <p>
                                Solución enfocada en calcular los intereses obtenidos de un capital puesto en un plazo
                                fijo
                                en un determinado tiempo.</p>
                        </div>
                    </div>
                    <div class="inside-page__text-footer">
                        <div>
                            <span>Características:</span> React Context, Custom Hooks,
                            Tailwind Animation, Vite
                        </div>
                        <div class="inside-page__btn-container">
                            <a href="https://fixed-deposit-calculator.vercel.app/" class="inside-page__btn">🔗 Ver
                                Demo</a>
                            <a href="https://github.com/nattdev/fixed-deposit-calculator" class="inside-page__btn"><img
                                    src="assets/images/technologies/github-icon.svg" />Ver Código</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card: Project5 -->
        <div class="card">
            <img class="card-image" src="assets/images/projects/virtual-bazaar-store.webp">
            <div class="card-front__container">
                <div class="card-front__description">
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/angular-icon.svg"> Angular
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/ts-icon.svg"> TypeScript
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/tailwind-icon.svg"> TailwindCSS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/sass-icon.svg"> SASS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/css-icon.svg"> CSS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/html5-icon.svg"> HTML
                    </p>
                    <p class="card-front__text-price in-development">
                        🚧 En Desarrollo
                    </p>
                </div>
            </div>
            <div class="card-front__wrapper">
                <div class="card-front__header">
                    <div class="card-front__tp-container">
                        <h2 class="card-front__heading">
                            Virtual Bazzar Store
                        </h2>
                        <img src="assets/images/projects/icon-virtual-bazaar-store.svg" />
                    </div>
                    <h3 class="inside-page__title">
                        Tienda Virtual de Ropa y Accesorios<a href="proyectos/tienda-virtual-de-ropa-y-accesorios"><span class="chevron-down"> Más info
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m8 7 4 4 4-4m-8 6 4 4 4-4" />
                            </svg>
                        </span></a>
                    </h3>
                </div>
                <div class="card-front">
                    <div class="inside-page__container">
                        <div class="inside-page__text">
                            <p>
                                Una plataforma de eccomerce que permite explorar productos, navegar por categorías y ver información detallada de cada producto. </p>
                                <p>Actualmente en desarrollo para agregar funciones como el carrito de compras y pagos.</p>
                        </div>
                    </div>
                    <div class="inside-page__text-footer">
                        <div>
                            <span>Características:</span> HttpClient, Router, ActivatedRoute, RxJS, API Restful, Flowbite Components, Angular CLI
                        </div>
                        <div class="inside-page__btn-container">
                            <a href="https://virtual-bazaar-store.vercel.app/" class="inside-page__btn">🔗 Ver
                                Demo</a>
                            <a href="https://github.com/nattdev/virtual-bazaar-store" class="inside-page__btn"><img
                                    src="assets/images/technologies/github-icon.svg" />Ver Código</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card: Project6 -->
        <div class="card">
            <img class="card-image" src="assets/images/projects/crud-to-do-list-pern.webp">
            <div class="card-front__container">
                <div class="card-front__description">
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/react-icon.svg"> React
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/js-icon.svg"> JavaScript
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/materialui-icon.svg"> MaterialUI
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/node-icon.svg"> Node.js
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/express-icon.svg"> Express
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/postgres-icon.svg"> PostgreSQL
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/html5-icon.svg"> HTML
                    </p>
                </div>
            </div>
            <div class="card-front__wrapper">
                <div class="card-front__header">
                    <div class="card-front__tp-container">
                        <h2 class="card-front__heading">
                            CRUD To Do List PERN
                        </h2>
                        <img src="assets/images/projects/icon-crud-to-do-list-pern.svg" />
                    </div>
                    <h3 class="inside-page__title">
                        Planificador de tareas<a href="proyectos/planificador-de-tareas"><span class="chevron-down"> Más info
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m8 7 4 4 4-4m-8 6 4 4 4-4" />
                            </svg>
                        </span></a>
                    </h3>
                </div>
                <div class="card-front">
                    <div class="inside-page__container">
                        <div class="inside-page__text">
                            <p>
                                Una aplicación que permite crear, leer, actualizar y eliminar tareas de manera eficiente.</p>
                        </div>
                    </div>
                    <div class="inside-page__text-footer">
                        <div>
                            <span>Características:</span> React Router, React Context, Custom Hooks, Axios, API Restful, Material UI, Vite
                        </div>
                        <div class="inside-page__btn-container">
                            <a href="https://client-crud-to-do-list-pern.vercel.app/" class="inside-page__btn">🔗 Ver
                                Demo</a>
                            <a href="https://github.com/nattdev/crud-to-do-list-pern" class="inside-page__btn"><img
                                    src="assets/images/technologies/github-icon.svg" />Ver Código</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card: Project7 -->
        <div class="card">
            <img class="card-image" src="assets/images/projects/poke-api-vanilla-js.webp">
            <div class="card-front__container">
                <div class="card-front__description">
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/js-icon.svg"> JavaScript
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/css-icon.svg"> CSS
                    </p>
                    <p class="card-front__text-price">
                        <img class="tech-icon" src="assets/images/technologies/html5-icon.svg"> HTML
                    </p>
                </div>
            </div>
            <div class="card-front__wrapper">
                <div class="card-front__header">
                    <div class="card-front__tp-container">
                        <h2 class="card-front__heading">
                            Poke API Vanilla Js
                        </h2>
                        <img src="assets/images/projects/icon-poke-api-vanilla-js.svg" />
                    </div>
                    <h3 class="inside-page__title">
                        Consulta Interactiva de Pokémon<a href="proyectos/consulta-interactiva-de-pokemon"><span class="chevron-down"> Más info
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m8 7 4 4 4-4m-8 6 4 4 4-4" />
                            </svg>
                        </span></a>
                    </h3>
                </div>
                <div class="card-front">
                    <div class="inside-page__container">
                        <div class="inside-page__text">
                            <p>
                                Una aplicación de consulta interactiva de Pokémon que permite a los usuarios buscar información detallada de sus Pokémon y guardar sus favoritos.</p>
                        </div>
                    </div>
                    <div class="inside-page__text-footer">
                        <div>
                            <span>Características:</span> Fetch API, API Restful, CSS Animations
                        </div>
                        <div class="inside-page__btn-container">
                            <a href="https://nattdev.github.io/poke-api-vanilla-js/" class="inside-page__btn">🔗 Ver
                                Demo</a>
                            <a href="https://github.com/nattdev/poke-api-vanilla-js" class="inside-page__btn"><img
                                    src="assets/images/technologies/github-icon.svg" />Ver Código</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="pattern-section">
        <svg class="dots-pattern" width="100%" height="100%">
            <defs>
                <pattern id="polka-dots" x="0" y="0" width="30" height="30" patternUnits="userSpaceOnUse">
                    <circle fill="#d9d9d9" cx="7" cy="7" r="2"></circle>
                </pattern>
            </defs>
            <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)"> </rect>
        </svg>
    </div>
</section>