<section class="projects">
    <h3 class="project-title">&lt;Proyectos <span>visibleProjects=<span>&#123;4&#125;</span></span> /&gt;</h3>
    <section class="card-area">
        <!-- Card: Project1 -->
        <section class="card-container-section">
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">
                                    <h2 class="card-front__heading">
                                        Goal Card Organizer
                                    </h2>
                                    <div class="card-front__description">
                                        <p class="card-front__text-price">
                                            React
                                        </p>
                                        <p class="card-front__text-price">
                                            TypeScript
                                        </p>
                                        <p class="card-front__text-price">
                                            CSS / TailwindCSS
                                        </p>
                                        <p class="card-front__text-price">
                                            HTML
                                        </p>
                                    </div>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--city">
                                        Más info
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media"
                                        src="https://raw.githubusercontent.com/nattdev/company-template/main/assets/videos/bg-tec.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--city">
                                Organizador de Objetivos
                            </h3>
                            <p class="inside-page__text">
                                Una aplicación web que permite organizar objetivos, desglosarlos en metas y en una lista
                                de tareas más pequeñas.
                                Funciona offline y puede instalarse en dispositivos móviles y PCs.
                            <div class="inside-page__text-footer"><span>Características:</span> React Context, Custom
                                Hooks,
                                localStorage, PWA</div>
                            </p>
                            <div class="inside-page__btn-container">
                                <a href="https://goal-card-organizer.vercel.app" class="inside-page__btn inside-page__btn--city">Ver Demo</a>
                                <a href="https://github.com/nattdev/goal-card-organizer" class="inside-page__btn inside-page__btn--city">Ver Código</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- Card: Project2 -->
        <section class="card-container-section">
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">
                                    <h2 class="card-front__heading">
                                        Expense Record App
                                    </h2>
                                    <div class="card-front__description">
                                        <p class="card-front__text-price">
                                            React
                                        </p>
                                        <p class="card-front__text-price">
                                            JavaScript
                                        </p>
                                        <p class="card-front__text-price">
                                            CSS / TailwindCSS
                                        </p>
                                        <p class="card-front__text-price">
                                            HTML
                                        </p>
                                    </div>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--city">
                                        Más info
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media"
                                        src="https://raw.githubusercontent.com/nattdev/company-template/main/assets/videos/bg-tec.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--city">
                                Gestor de Gastos Cotidianos
                            </h3>
                            <p class="inside-page__text">
                                Herramienta diseñada para ayudar a en el control de gastos y gestionar su presupuesto diario. Funciona sin conexión y puede instalarse.
                            <div class="inside-page__text-footer"><span>Características:</span> Flowbite React, React Context, Custom Hooks, Local Storage, PWA, Vite</div>
                            </p>
                            <div class="inside-page__btn-container">
                                <a href="https://expense-record-app.vercel.app/" class="inside-page__btn inside-page__btn--city">Ver Demo</a>
                                <a href="https://github.com/nattdev/expense-record-app" class="inside-page__btn inside-page__btn--city">Ver Código</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- Card: Project3 -->
        <section class="card-container-section">
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">
                                    <h2 class="card-front__heading">
                                        Fixed Deposit Calculator
                                    </h2>
                                    <div class="card-front__description">
                                        <p class="card-front__text-price">
                                            React
                                        </p>
                                        <p class="card-front__text-price">
                                            JavaScript
                                        </p>
                                        <p class="card-front__text-price">
                                            CSS / TailwindCSS
                                        </p>
                                        <p class="card-front__text-price">
                                            HTML
                                        </p>
                                    </div>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--city">
                                        Más info
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media"
                                        src="https://raw.githubusercontent.com/nattdev/company-template/main/assets/videos/bg-tec.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--city">
                                Calculadora de Depósito a Plazo Fijo
                            </h3>
                            <p class="inside-page__text">
                                Solución enfocada en calcular los intereses obtenidos de un capital puesto en un plazo fijo en un determinado tiempo.
                            <div class="inside-page__text-footer"><span>Características:</span> React Context, Custom Hooks, Tailwind Animation, Vite</div>
                            </p>
                            <div class="inside-page__btn-container">
                                <a href="https://fixed-deposit-calculator.vercel.app/" class="inside-page__btn inside-page__btn--city">Ver Demo</a>
                                <a href="https://github.com/nattdev/fixed-deposit-calculator" class="inside-page__btn inside-page__btn--city">Ver Código</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- Card: Project4 -->
        <section class="card-container-section">
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">
                                    <h2 class="card-front__heading">
                                        Plataforma de Gestión de Usuarios
                                    </h2>
                                    <div class="card-front__description">
                                        <p class="card-front__text-price">
                                            Vue.js
                                        </p>
                                        <p class="card-front__text-price">
                                            JavaScript
                                        </p>
                                        <p class="card-front__text-price">
                                            PHP / PostgreSQL
                                        </p>
                                        <p class="card-front__text-price">
                                            CSS / TailwindCSS
                                        </p>
                                        <p class="card-front__text-price">
                                            HTML
                                        </p>
                                    </div>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--city">
                                        Más info
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media"
                                        src="https://raw.githubusercontent.com/nattdev/company-template/main/assets/videos/bg-tec.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--city">
                                CRUD PHP VUE
                            </h3>
                            <p class="inside-page__text">
                                Una plataforma para gestionar el registro, edición y administración de usuarios. Ofrece la visualización de los usuarios registrados.
                            <div class="inside-page__text-footer"><span>Características:</span> Vue Router, PHPDotenv, CORS policy, Vite, API Restful, Vercel Serverless Functions.</div>
                            </p>
                            <div class="inside-page__btn-container">
                                <a href="https://crud-php-vue.vercel.app/" class="inside-page__btn inside-page__btn--city">Ver Demo</a>
                                <a href="https://github.com/nattdev/crud-php-vue" class="inside-page__btn inside-page__btn--city">Ver Código</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
</section>