<section class="technologies-container">
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>React</li>
            <li class="soft">Vue</li>
            <li class="soft">Angular</li>
            <li>Node.js</li>
            <li>Express</li>
            <li>PostgreSQL</li>
            <li class="soft">MySQL</li>
            <li>SASS</li>
            <li>TailwindCSS</li>
            <li>Git</li>
            <li>GitHub</li>
            <li>Bash</li>
            <li>Figma</li>
            <li>Vite</li>
            <li>Vercel</li>
            <li>PWAs</li>
        </ul>
</section>