<section class="technologies-container">
        <ul>
            <li><img class="tech-icon" src="assets/images/technologies/html5-icon.svg"> HTML 
            </li>
            <li><img class="tech-icon" src="assets/images/technologies/css-icon.svg"> CSS</li>
            <li><img class="tech-icon" src="assets/images/technologies/js-icon.svg"> JavaScript</li>
            <li><img class="tech-icon" src="assets/images/technologies/ts-icon.svg"> TypeScript</li>
            <li><img class="tech-icon" src="assets/images/technologies/react-icon.svg"> React</li>
            <li><img class="tech-icon" src="assets/images/technologies/tailwind-icon.svg"> TailwindCSS</li>
            <li class="medium-text"><img class="tech-icon" src="assets/images/technologies/vue-icon.svg"> Vue</li>
            <li class="medium-text"><img class="tech-icon" src="assets/images/technologies/angular-icon.svg"> Angular</li>
            <li class="medium-text"><img class="tech-icon" src="assets/images/technologies/sass-icon.svg"> SASS</li>
            <li class="medium-text"><img class="tech-icon" src="assets/images/technologies/node-icon.svg"> Node.js</li>
            <li class="medium-text"><img class="tech-icon" src="assets/images/technologies/express-icon.svg"> Express</li>
            <li class="medium-text"><img class="tech-icon" src="assets/images/technologies/php-icon.svg"> PHP</li>
            <li class="medium-text"><img class="tech-icon" src="assets/images/technologies/postgres-icon.svg"> PostgreSQL</li>
            <li class="medium-text"><img class="tech-icon" src="assets/images/technologies/mysql-icon.svg"> MySQL</li>
            <li class="small-text"><img class="tech-icon" src="assets/images/technologies/git-icon.svg"> Git</li>
            <li class="small-text"><img class="tech-icon" src="assets/images/technologies/github-icon.svg"> GitHub</li>
            <li class="small-text"><img class="tech-icon" src="assets/images/technologies/bash-icon.svg"> Bash</li>
            <li class="small-text"><img class="tech-icon" src="assets/images/technologies/vite-icon.svg"> Vite</li>
            <li class="small-text"><img class="tech-icon" src="assets/images/technologies/vercel-icon.svg"> Vercel</li>
            <li class="small-text"><img class="tech-icon" src="assets/images/technologies/pwa-icon.svg">PWA</li>
            <li class="small-text"><img class="tech-icon" src="assets/images/technologies/figma-icon.svg"> Figma</li>
        </ul>
</section>