// start content

/* CSS reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/** Code **/

pre,
code,
.highlighter-rouge .highlight {
  background: #fbfbfb;
}

/** Navigation **/

.site-header {
  background: #ffffff;
}

.site-nav {
  z-index: 1500;
}

.page-content {
  padding-top: 0;

  .wrapper {
    padding-top: 30px;
  }
}

/** Presentation Section **/

.icon-animation:nth-child(1) {
  position: absolute;
  animation: infinite 4.5s rotation-1;
  scale: 1.4;
  transform-origin: bottom;
  top: 7px;
}

@keyframes rotation-1 {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(32.0deg)
  }

  20% {
    transform: rotate(0.0deg)
  }

  30% {
    transform: rotate(13.0deg)
  }

  40% {
    transform: rotate(-3.0deg)
  }

  50% {
    transform: rotate(8.0deg)
  }

  60% {
    transform: rotate(0.5deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-animation {
  position: relative;
  width: 100%;
  height: 100%;
  color: #42424286;
}

.main-text {
  z-index: 5000;
  position: relative;
  padding: 3.3rem 15px;
  text-align: center;
}

.main-text span {
  font-size: 1.35rem;
}

.main-text__title {
  font-size: 1.7rem;
  color: #1e1e1e;
  font-weight: 100;
  white-space: pre-wrap;
  position: relative;
}

.main-text__title span {
  color: #212121;
  font-weight: 500;
}

.main-text__description {
  font-size: 1.19rem;
  color: #3c3c3c;
  width: 82%;
  margin: auto;
}

.scroll-text {
  position: relative;
  font-size: 0;
  font-family: sans-serif;
  white-space: nowrap;
  width: 100%;
  opacity: 0.75;
}

.text-animation.left,
.text-animation.right {
  z-index: 900;
  position: relative;
}

.text-animation.left {
  text-align: left;
}

.text-animation.right {
  text-align: right;
}

.scroll-text:nth-child(2) {
  margin: 0 2.5rem;
  opacity: 0.75;
}

.scroll-text:nth-child(3) {
  margin: 0 1rem;
  opacity: 0.45;
}

.scroll-text:nth-child(4) {
  margin: 0 0.1rem;
}

.scroll-text span.fl {
  position: relative;
  display: inline-block;
  font-size: 1.9rem;
  line-height: normal;
}

.scroll-text:nth-child(1) span.fl {
  font-size: 2.30rem;
}

.scroll-text:nth-child(2) span.fl {
  font-size: 1.65rem;
}

.scroll-text:nth-child(3) span.fl {
  font-size: 2.3rem;
}

.wrapper-animation p {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0);
}

.presentation-section {
  background-color: #ffffff;
  color: #424242;
  width: 100%;
  padding: 30px 15rem;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.dots-pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.45;
}

.pattern-section::before {
  content: "";
  width: 100%;
  height: 100%;
  // background: linear-gradient(to bottom, transparent, #fff), linear-gradient(to top, transparent, #fff);
  background: radial-gradient(#fff, transparent 40%), linear-gradient(to bottom, #fff, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
}

/** Container Section**/
.container-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 350px;
}

/** Technologies Section **/

.technologies-container {
  position: relative;
  max-width: 704px;
  width: 100%;
  background: transparent;
  border-radius: 6px;
  backdrop-filter: blur(6px);
  padding: 2rem 0 0;
  border: 0.2px solid #d2d2d2;
  font-size: 1.1rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 0.5rem 0.2rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.5rem;
    font-weight: 500;

    li {
      display: flex;
      align-items: center;
    }

    .medium-text {
      scale: 0.95;
    }

    .small-text {
      scale: 0.90;
    }
  }
}

.tech-icon {
  width: 20px;
  height: 20px;
  padding: 0 0.5rem;
  opacity: 0.8;
  vertical-align: sub;
}

section.technologies-container::before {
  content: ">_Tecnologías usadas";
  width: 100%;
  height: fit-content;
  background: #dddddd;
  position: absolute;
  top: 0;
  border-radius: 5px 5px 0 0;
  font-weight: 500;
  color: #555555;
  box-sizing: border-box;
  padding: 0.3rem 1.5rem;
}

/** Separator Section **/

.decorator-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.020;
  z-index: -1;
  overflow: hidden;
}

.card-decorator {
  position: fixed;
  top: calc(60% - 33vw);
  font-size: 30vw;
  line-height: 0.40;

  span {
    font-size: 22vw;
  }

}

/** Projects Section **/
.projects {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 100%;
  position: relative;
  padding: 1rem 0 3rem;
  overflow: hidden;

  .dots-pattern {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.5;
  }

  .pattern-section::before {
    width: 100%;
    height: 100%;
    background: unset;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
  }
}

.project-title,
.blog__section-title {
  font-size: 2.1rem;
  text-align: center;
  padding: 2rem 4rem;
  color: #1e1e1e;
  margin: 0;
}

.project-title span,
.blog__section-title span {
  color: #7b7b7b;
  font-size: 1.6rem;
}

.project-title span span,
.blog__section-title span span {
  color: #636363;
}

.chevron-down {
  text-align: center;
}

.card-area {
  flex-wrap: wrap;
  padding: 15px;
  width: auto;
  display: flex;
  gap: 6rem 2rem;
  justify-content: center;
  z-index: 600;
}

.card {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  flex-direction: column;
  position: relative;
  border: 1px solid #E3E3E3;
  padding: 1rem 0.9rem;
  border-radius: 16px;
  background: #ffffff;
  box-sizing: border-box;
  height: fit-content;
}

.card-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;
  margin-bottom: 1rem;
}

.card-front {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  max-height: 0;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s all;
  overflow: hidden;
}

.card-front__header:hover ~ .card-front {
  max-height: 400px;
}

.card-front__header {
  cursor: pointer;
}

.card-front__tp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    align-self: self-start;
    width: 100%;
    max-width: 40px;
    height: 40px;
  }

}

.card-front__heading {
  font-size: 1.5rem;
  margin: 0rem;
  color: #1E1E1E;
  font-weight: 600;
}

.card-front__description {
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #757575;
  position: relative;
  width: fit-content;

  .card-front__text-price {
    display: inline-block;
    background: #fdfdfd;
    margin: 0.2rem 0;
    padding: 0.2rem 0.3rem;
    border-radius: 6px;
    border: 1px solid #d2d2d2
  }

  .tech-icon {
      width: 15px;
      padding: 0;
  }
}

.inside-page__title {
  color: #1E1E1E;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;

  .chevron-down {
    transition: all 0.3s;
  }
}

.card-front__header:hover .chevron-down {
  opacity: 0;
  animation: point-down 0.6s linear;
}

@keyframes point-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.inside-page__container {
  margin-bottom: auto;
}

.inside-page__text {
  color: #757575;
  font-size: 1.05rem;
  margin: 0.5rem 0;

  p {
    margin-bottom: 0.5rem;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.inside-page__text-footer {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.3rem;
}

.inside-page__btn-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0.7rem 0;
  gap: 0 0.3rem;
}

.inside-page__btn {
  border: 2px solid #1e1e1e;
  color: #1e1e1e !important;
  padding: 0.2rem 0.4rem;
  font-size: 1.1rem;
  margin: 0.2rem 0.3rem;
  font-weight: 500;
  border-radius: .5rem;
  flex-grow: 1;
  text-align: center;
  transition: 0.2s all;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 0.3rem;
    transition: 0.2s all;
  }

  &:hover {
    background: #1e1e1e;
    color: #ffffff !important;
    text-decoration: none;
  }

  &:hover>img {
    filter: brightness(0) saturate(100%) invert(100%);
  }

}

/** Blog **/

.blog__post-container {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
}

.blog__post {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.blog__post-title {
  margin-bottom: 0.4rem;
}

.blog__post-description {
  color: #757575;
}

.blog__post-category {
  color: #7b7b7b;
  font-size: 0.8rem;
}

@media screen and (max-width: 1000px) {
  .presentation-section {
    padding: 15px;
  }

  .card-section {
    margin: 0rem 1rem;
  }

  .blog__post-container {
    display: flex;
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 800px) {
  .main-text span {
    font-size: 1.25rem;
  }
  
  .main-text__title {
    font-size: 1.6rem;
  }
  
  .main-text__description {
    font-size: 1.09rem;
  }

  .inside-page__text {
    font-size: 1rem;
  }

  h4 {
    font-size: 15px !important;
  }

  .blog__post-container {
    width: 100%;
    padding: 16px;
  }
}

@media screen and (max-width: 768px) {

  .main-text__description {
    width: 100%;
  }

  .decorator-container {
    opacity: 0.050;
  }

  .card-decorator {
    position: relative;
    top: calc(55% - 33vw);
    line-height: 0.60;
    font-size: 35vw;

    span {
      position: relative;
      left: -5rem;
      font-size: 37vw;
      opacity: 0.5;
    }
  }

  .technologies-container {
    margin: 0 15px;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 600px) {

  .project-title,
  .blog__section-title {
    font-size: 1.9rem;
    padding: 2.5rem 2rem;
  }

  .card {
    justify-content: flex-start;
  }

  .card-front__description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .main-text {
    padding: 2.9rem 0px;
  }

  .main-text__title {
    line-height: normal;
    padding: 0 30px;
  }

  .main-text__description {
    font-size: 1.05rem;
    padding-top: 0.5rem;
  }

  .card-decorator {
    top: calc(2% - 33vw);
    line-height: 1.6;
    font-size: 51vw;

    span {
      left: -6rem;
      font-size: 54vw;
    }
  }

  .card-front {
    min-width: 215px;
  }

}
